* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
}

.head-container {
  min-height: 30vh;
  text-align: center;
  padding: 4rem 0;
}

.head-container h1 {
  font-weight: 200;
}

.head-container h2 {
  font-size: 1.9rem;
  margin: 0 0 1rem 0;
}

.head-container p {
  width: 30%;
  opacity: 0.6;
  margin: auto;
}

.cards-container {
  width: 70%;
  margin: auto;
  min-height: 65vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cards-container .card-container-1,
.card-container-2,
.card-container-3 {
  align-self: center;
}

.cards-container .card-container-1,
.card-container-3 {
  margin: 1rem 0;
}

.cards-container .card-container-2 {
  display: flex;
  flex-direction: column;
  justify-self: space-between;
  flex-wrap: wrap;
}

.cards-container .card-container-2 .card {
  margin: 1rem 0;
}

.cards-container .links .card {
  border-radius: 0.4rem;
  padding: 2rem;
  border-top: 4px solid;
  width: 400px;
  box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.3);
}

.cards-container .links .card p {
  margin: 1rem 0 2rem 0;
}

.cards-container .links .card img {
  position: relative;
  left: 269px;
}

.cards-container .links .card-1 {
  border-color: hsl(180, 62%, 55%);
}

.cards-container .links .card-2 {
  border-color: hsl(0, 78%, 62%);
}

.cards-container .links .card-3 {
  border-color: hsl(34, 97%, 64%);
}

.cards-container .links .card-4 {
  border-color: hsl(212, 86%, 64%);
}

@media screen and (max-width: 520px) {
  .head-container h1 {
    font-size: 1.5rem;
  }

  .head-container h2 {
    font-size: 1.5rem;
  }

  .head-container p {
    width: 90%;
    margin: auto;
    font-size: 1rem;
  }

  .cards-container .links .card {
    width: 300px;
  }

  .cards-container .links .card img {
    left: 169px;
  }
}
